body {
  font-family: 'Lato';
  margin: 0;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0;
  font-size: 4em;
}

/* comics container */

.comicContainer {
  width: 1200px;
  display: flex;
  flex-direction: column;
}

.comicRow {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.unblur {
  filter: brightness(1) blur(0) !important;
  transition: all 0.5s ease;
}

.row1 .panel1 {
  transform: translateY(-12vh);
  flex-basis: 41.2%;
  filter: brightness(0.2) blur(5px);
}

.row1 .panel2 {
  transform: translateY(12vh);
  flex-basis: 48.8%; 
  filter: brightness(0.2) blur(5px);
}

.row2 .panel1 {
  transform: translateY(-12vh);
  flex-basis: 48.8%;
}

.row2 .panel2 {
  transform: translateY(12vh);
  flex-basis: 41.2%;
  filter: brightness(0.2) blur(5px);
}

.row3 {
  justify-content: center;
}

.row3 .panel1 {
  flex-basis: 95%;
}

.row4 {
  justify-content: center;
}

.row4 .panel1 {
  flex-basis: 50%;
}

.comicPanel {
  position: relative;
  height: 308px;
  background-color: white;
  border: 2px solid black;
  border-radius: 2px;
}

.comicImage {
  object-fit: cover;
  width: 100%;
}

/* */

@keyframes fadeIn {
  100% {
    opacity: 100%;
  }
}

#panel1Text {
  opacity: 0%;

  position: absolute;
  top: 10%;
  left: 45%;
  height: 120px;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;

}

#panel2TextB {
  opacity: 0%;

  position: absolute;
  top: 20%;
  left: 5%;
  height: 120px;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

#panel2TextC {
  opacity: 0%;

  position: absolute;
  top: 15%;
  left: 65%;
  height: 120px;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;

}





@keyframes splashExplosion {
  100% {
    height: 750px;
  }
}

@keyframes shakyGlass {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  25% {
    transform: translate(-50%, -50%) rotate(2deg) scale(1.1);
  }
  50% {
    transform: translate(-50%, -50%) rotate(0);
  }
  75% {
    transform: translate(-50%, -50%) rotate(-2deg) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0);
  }
}

#panel6BrokenGlass {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  animation-name: shakyGlass;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

#panel6SplashImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0px;
  animation-name: splashExplosion;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes axolotlFlyToScreen {
  100% {
    transform: scale(10);
  }
}

@keyframes axolotlSlideDown {
  100% {
    transform: translateY(60vh);
  }
}

#panel6Axolotl {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  animation-name: axolotlFlyToScreen;
  animation-duration: 3.5s;
  animation-timing-function: cubic-bezier(0.11, 0, 0.5, 0);
  animation-fill-mode: forwards;
}

#panel6Axolotl.slideAnimation {
  animation-timing-function: ease-in;
  animation-delay: 2.5s;
  animation-duration: 7s;
  animation-name: axolotlSlideDown;
}

/*************************/

.spacing {
  margin: 200px;
}

.fixed {
  display: flex;
  flex: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}

